---
layout: default
title: Challenge
banner-title: Challenge
banner-subtitle: A Benchmark for Out-of-Distribution Tracking
---

<section id="introduction">
    <h2>Obstacle Sequence Challenge</h2>
    <p>In open-world scenarios, such as automated driving, the presence of objects not seen during training can lead to inaccurate predictions and safety-critical situations, in particular when such unknown objects appear on the road. As in many applications images do not come as single frames, but are embedded in video sequences, tracking of these objects therefore is the logical next step past detection. Our benchmark addresses two tasks: detection and segmentation of previously-unseen objects; tracking of these unknown objects over subsequent frames. We provide two corresponding datasets together with a test suite, performing an in-depth method analysis.</p>
    <img src="{{ '/assets/images/sequence_43.gif' | relative_url }}" alt="Subsequent frames of segmented video data" style="width:100%;">
</section>

<section id="datasets">
    <h2>Datasets</h2>
    
    <h3>Street Obstacle Sequences (SOS)</h3>
    <ul>
        <li>The given scenes are shown from a perspective of a vehicle that is approaching objects placed on the street, starting from a distance of 20 meters to the street obstacle.</li>
        <li>Each of the 13 different object corresponds to a class that is semantically out-of-distribution according to the <a href="https://www.cityscapes-dataset.com/">Cityscapes</a> labeling policy (e.g. bags, umbrellas, balls, toys, or scooters).</li>
        <li>20 real-world video sequences recorded at a rate of 25 frames per second.</li>
        <li>Every eighth frame is labeled yielding a total number of 1,129 pixel-accurately labeled frames.</li>
    </ul>
    <div class="container">
        <a href="https://zenodo.org/records/7144906" class="btn-primary">Download the Dataset</a>
    </div>
    <img src="{{ '/assets/images/sos1.jpg' | relative_url }}" alt="Example image from the SOS dataset" style="width:100%;">
    
    <h3>Wuppertal Obstacle Sequences (WOS)</h3>
    <ul>
        <li>While the SOS dataset considers static OOD objects located on the street, WOS provides additional moving OOD objects.</li>
        <li>Moving objects are mostly dogs, rolling or bouncing balls, skateboards or bags and were captured with either a static or a moving camera from the viewpoint of a vehicle.</li>
        <li>44 real-world video sequences.</li>
        <li>Every eighth frame is labeled yielding a total number of 938 pixel-accurately labeled frames.</li>
    </ul>
    <div class="container">
        <a href="https://zenodo.org/records/12188586" class="btn-primary">Download the Dataset</a>
    </div>
    <img src="{{ '/assets/images/wos2.png' | relative_url }}" alt="Example image from the WOS dataset" style="width:100%;">
    
    <h3>Labeling Policy</h3>
    <p>The pixel-level annotations of both datasets include three classes:</p>
    <ul>
        <li>street obstacle / OOD</li>
        <li>street / not OOD</li>
        <li>void</li>
    </ul>
    <p>Image regions outside the drivable area are labeled as <em>void</em> and are ignored during evaluation. Furthermore, the OOD objects are provided with tracking IDs in consecutive frames.</p>
    <img src="{{ '/assets/images/gt.png' | relative_url }}" alt="Illustration of the labeling policy" style="width:100%;">
</section>

<section id="leaderboard">
    <h2>Leaderboard</h2>
    
    <h3>Evaluation Metrics</h3>
    <ul>
        <li>OOD Segmentation
            <ul>
                <li>\(\text{AUPRC}\) : pixel-wise area under precision recall curve</li>
                <li>\(\text{FPR}_{95}\) : pixel-wise false positive rate at a true positive rate of 95%</li>
                <li>\(\overline{\text{F}}_1\) : component-wise \(\text{F}_1\)-score averaged over different detection thresholds</li>
            </ul>
        </li>
        <li>OOD Segmentation
            <ul>
                <li>\(\text{MOTA}\) : multiple object tracking accuracy</li>
                <li>\(\text{MOTP}\) : multiple object tracking precision</li>
            </ul>
        </li>
    </ul>
    <p>For a more detailed explanation of the metrics, we refer to our <a href="https://openaccess.thecvf.com/content/ACCV2022/html/Maag_Two_Video_Data_Sets_for_Tracking_and_Retrieval_of_Out_ACCV_2022_paper.html">paper</a>.</p>
    
    <h3>Street Obstacle Sequences (SOS)</h3>
    {% include leaderboard_sos_table.html %}
    
    <h3>Wuppertal Obstacle Sequences (WOS)</h3>
    {% include leaderboard_wos_table.html %}
</section>

<section id="submission-guidelines">
    <h2>Submission Guidelines</h2>
    
    <h3>Evaluation of Your Method</h3>
    <p>In order to evaluate your method, we provide:</p>
    <ul>
        <li>the labels of both datasets, SOS and WOS</li>  
        <li><a href="github_tba">code</a> available on GitHub that computes the evaluation metrics given OOD heatmaps and tracking IDs obtained by your method</li>
    </ul>
    
    <h3>Participate in the Challenge</h3>
    <p>Please send your results including a link to your GitHub repository (and, if available, the corresponding paper) to the following mail: <a href="mailto:rrow2024@gmail.com">rrow2024@gmail.com</a>.</p>
</section>

<section id="important-dates">
    <h2>Important Dates & Deadlines</h2>
    <p>While preparing your challenge submission, please keep the following dates in mind.
    <br>All deadlines are Anywhere on Earth (UTC-12).</p>
    <div style="overflow-x: auto;">
        <table style="width:100%;">
            <thead>
            <tr>
                <th>Milestone</th>
                <th style="width:25%;">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Challenge submission deadline</td>
                <td>09/14/2024</td>
            </tr>
            <tr>
                <td>Challenge winner notification</td>
                <td>09/16/2024</td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>This challenge is maintained by the Technical University of Berlin and will remain open after the submission deadline has expired.</p>
    <p>If you want to participate in our <a href="{{ site.baseurl }}/call-for-papers">Call for Papers</a>, different deadlines apply, see <a href="{{ site.baseurl }}/call-for-papers#important-dates">here</a>.</p>
</section>