<div style="overflow-x: auto;">
    <table style="width:100%; border-collapse: collapse;">
        <thead>
        <tr>
            <th>Time</th>
            <th>Topic</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>9:00 - 9:15</td>
            <td>Welcome</td>
        </tr>
        <tr>
            <td>9:15 - 9:50</td>
            <td>Plenary 1 – Jiri Matas</td>
        </tr>
        <tr>
            <td>9:50 - 10:25</td>
            <td>Plenary 2 – Petra Bevandic</td>
        </tr>
        <tr>
            <td>10:25 - 10:45</td>
            <td>Contributed talks 1-2</td>
        </tr>
        <tr>
            <td></td>
            <td>Short break</td>
        </tr>
        <tr>
            <td>11:00 - 12:00</td>
            <td>Contributed talks 3-8</td>
        </tr>
        <tr>
            <td></td>
            <td>Lunch break</td>
        </tr>
        <tr>
            <td>13:30 - 14:05</td>
            <td>Plenary 3 – Robert Geirhos</td>
        </tr>
        <tr>
            <td>14:05 – 14:35</td>
            <td>Contributed talks 9-11</td>
        </tr>
        <tr>
            <td></td>
            <td>Short break</td>
        </tr>
        <tr>
            <td>14:45 – 15:30</td>
            <td>Poster session</td>
        </tr>
        <tr>
            <td>15:30 - 16:15</td>
            <td>Challenge session – OOD tracking on videos</td>
        </tr>
        <tr>
            <td>16:15 – 16:50</td>
            <td>Plenary 4 – Toby Breckon</td>
        </tr>
        <tr>
            <td>16:50 - 17:20</td>
            <td>Best paper award, wrap up and closing remarks</td>
        </tr>
        </tbody>
    </table>
</div>