<div style="overflow-x: auto;">
    <table style="width:100%; border-collapse: collapse;">
        <thead>
        <tr>
            <th>Time</th>
            <th>Topic</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>9:00 - 9:15</td>
            <td>Welcome</td>
        </tr>
        <tr>
            <td>9:15 - 9:50</td>
            <td>Invited Talk 1:<br>
            "Robust Recognition with Image Decomposition" – Jiri Matas
            </td>
        </tr>
        <tr>
            <td>9:50 - 10:25</td>
            <td>Invited Talk 2:<br>
            "Addressing Incompatible Taxonomies for Effective Multi-Dataset Training" – Petra Bevandic
            </td>
        </tr>
        <tr>
            <td>10:25 - 10:40</td>
            <td>Contributed Talk 1:<br>
            1) "UMAD: Unsupervised Mask-Level Anomaly Detection for Autonomous Driving" - Daniel Bogdoll, Noël Ollick, Tim Joseph, Svetlana Pavlitska, J. Marius Zöllner
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Short break</td>
        </tr>
        <tr>
            <td>11:00 - 12:00</td>
            <td>Contributed Talks 2-5:<br>
            2) "Unsupervised Feature Orthogonalization for Learning Distortion-Invariant Representations" - Sebastian Doerrich, Francesco Di Salvo, Christian Ledig<br>
            <br>
            3) "Hybrid Video Anomaly Detection for Autonomous Driving" - Daniel Bogdoll, Jan Imhof, Tim Joseph, Svetlana Pavlitska, J. Marius Zoellner<br>
            <br>
            4) "Unsupervised Class Incremental Learning using Empty Classes" - Svenja Uhlemeyer, Julian Lienen, Youssef Shoeb, Eyke Hüllermeier, Hanno Gottschalk<br>
            <br>
            5) "Uncertainty and Prediction Quality Estimation for Semantic Segmentation via Graph Neural Networks" - Edgar Heinert, Stephan Tilgner, Timo Palm, Matthias Rottmann
            </td>
        </tr>
        <tr>
            <td>12:00 - 12:35</td>
            <td>Invited Talk 3:<br>
            "Object-Wise Anomaly Detection in Complex Scenes" – Toby Breckon
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Lunch break</td>
        </tr>
        <tr>
            <td>14:05 – 14:50</td>
            <td>Contributed Talks 6-8:<br>
            6) "Impact of Surface Reflections in Maritime Obstacle Detection" - Samed YALÇIN, Hazım Kemal Ekenel<br>
            <br>
            7) "Patchhealer: Counterfactual Image Segment Transplants with chest X-ray domain check" - Hakan Lane, Michal Valko, Grace Guo, Veda Sahaja Bandi, Nandini Lokesh Reddy, Stefan Kramer<br>
            <br>
            8) "A Study on Unsupervised Domain Adaptation for Semantic Segmentation in the Era of Vision-Language Models" - Manuel Schwonberg, Claus Werner, Hanno Gottschalk, Carsten Meyer
            </td>
        </tr>
        <tr>
            <td>14:50 – 15:30</td>
            <td>Round table discussion:<br>
            <br>
            Petra Bevandić - Bielefeld University<br>
            <br>
            Fabian Hüger - CARIAD<br>
            <br>
            Jiří Matas - CTU Prague<br>
            <br>
            Moderator: Hanno Gottschalk - TU Berlin
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Short break</td>
        </tr>
        <tr>
            <td>15:45 - 16:30</td>
            <td>Challenge Session:<br>
            "OOD Tracking on Videos"
            </td>
        </tr>
        <tr>
            <td>16:30 – 17:05</td>
            <td>Invited Talk 4:<br>
            "OOD Generalization with Generative Models" – Robert Geirhos
            </td>
        </tr>
        <tr>
            <td>17:05 - 17:30</td>
            <td>Best paper award, wrap up and closing remarks</td>
        </tr>
        </tbody>
    </table>
</div>
