---
---

@import "{{ site.theme }}";

:root {
  --accent-color: #1abc9c;
  --nav-bar-color: #34495e;
}

section {
    margin-bottom: 20px;
}

h2.non-dotted { 
    padding-bottom: 0px;
    background: none; 
}

a {
  color: var(--accent-color);
}

footer h1, footer h2, footer h3 {
  color: #f2f2f2;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th + th {
    border-left: 1px solid #FFFFFF;
}
 
thead tr + tr {
    border-top: 1px solid #FFFFFF;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}

img {
      display: block;
      max-width: 98%; /* Ensure the image is responsive and fits within the container */
}

/* BTN-PRIMARY */
.btn-primary {
    background-color: var(--accent-color)/*#007bff*/;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block; /* Change to inline-block */
    /* Center align the button */
    text-align: center;
}
.container {
    text-align: center;
}

/* NAVIGATION : SIDEBAR OR HEADER */
.nav-banner {
    position: fixed;
    top: 0;
    left: 0;
    height: 46px;
    width: 100%;
    background-color: var(--nav-bar-color);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
}
.nav-banner .menu-button {
    display: none;
    height: 36px;
    width: 36px;
    cursor: pointer;
    font-size: 24px;
    color: white;
    justify-content: center;
    align-items: center;
}
.nav-banner .menu-button:hover, .nav-banner .menu-button:focus {
    background-color: var(--accent-color);
}
.nav-banner .site-title {
    font-size: 20px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    flex-grow: 1;
}
.nav-banner nav {
    display: flex;
    height: 100%;
}
.nav-banner nav a {
    display: flex;
    height: 100%;
    color: white;
    padding: 0px 15px;
    text-decoration: none;
    align-items: center;
}
.nav-banner nav a.selected {
    font-weight: bold;
}
.nav-banner nav a:hover, .nav-banner nav a:focus {
    background-color: var(--accent-color);
}
.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: top;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: var(--nav-bar-color);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 46px;
    z-index: 1001;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidebar a.selected {
    font-weight: bold;
}
.sidebar a:hover, .sidebar a:focus {
    background-color: var(--accent-color);
}
.sidebar .close-button {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    margin-left: 5px;
    margin-top: 5px;
    height: 36px;
    width: 36px;
    cursor: pointer;
    font-size: 36px;
    color: white;
    justify-content: center;
    align-items: center;
}
.sidebar .close-button:hover, .sidebar .close-button:focus {
    background-color: var(--accent-color);
}
/* Choose max-width such that the navigation buttons in the header can be comfortably displayed; otherwise we use the sidebar for naviagtion. */
@media (max-width: 640px) {
    .nav-banner nav {
        display: none;
    }
    .nav-banner .menu-button {
        display: flex;
    }
    .sidebar {
        left: -250px;
    }
    .sidebar.open {
        left: 0;
    }
}

/* BANNER */
#header_wrap {
    position: relative;
    background: url('{{ site.baseurl }}/assets/images/banner_image.jpeg') no-repeat center bottom;
    background-size: cover;
    margin-top: 46px;
}
#header_wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#header_wrap .inner {
    text-align: center;
    z-index: 2;
}

/* SPEAKERS */
.speakers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-items: center;
    padding: 20px 0;
}
.speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #373737;
}
.speaker:hover, .speaker:focus{
    text-decoration: none;
}
.speaker:hover h3, .speaker:focus h3{
    text-decoration: underline;
}
.speaker-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    border: none;
}
@media (max-width: 768px) {
    .speakers-container {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .speaker-photo {
        width: 80px;
        height: 80px;
    }
}
/* Adjustments for wider screens to ensure 4 items in a row */
@media (min-width: 769px) {
    .speakers-container {
        grid-template-columns: repeat(4, 1fr); /* This ensures 4 items in a row */
    }
}

/* ORGANIZERS-PANEL */
.organizers-panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Adjusts based on screen size, made smaller */
    gap: 15px; /* Reduced gap for snug fit */
}
.organizer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.organizer img {
    width: 90%; /* Adjusted to make images slightly smaller */ 
    aspect-ratio: 1;
}
.organizer p {
    margin-top: 8px; /* Reduced margin for snug fit */
}
.organizer-logo {
    display: inline-block;
    width: 90%; /* Adjusted to make images slightly smaller */
    padding: 5px;
    border: 1px solid #ebebeb; /* Same border style as images */
    box-shadow: 0 0 5px #ebebeb; /* Same box shadow as images */
}
/* This square white container makes it seem like all logos are square. Saves us some time in paint. */
.organizer-logo .logo-container {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Maintains a square aspect ratio */ 
    background-color: white;
    overflow: hidden;
}
.organizer-logo .logo-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    width: auto; /* Ensure the image keeps its aspect ratio */
    height: auto; /* Ensure the image keeps its aspect ratio */
    display: block; /* Override global img display */
    margin: 0; /* Override global img margin */
    padding: 0; /* Override global img padding */
    border: none; /* Remove border specific to image */
    box-shadow: none; /* Remove box shadow specific to image */
}

/* SCHEDULE PAGE */
.bio{
    padding-top: 0px;
}