<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <title>
        {% if page.title %}
            {{ page.title | prepend: "RROW 2024 | " }}
        {% else %}
            RROW 2024
        {% endif %}
    </title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
    
    <meta name="google-site-verification" content="{{ site.google-site-verification }}" />
    
    {% include head-custom.html %}
</head>

<body>
    <!-- HEADER -->
    <div class="nav-banner">
        <div class="menu-button" onclick="toggleSidebar()">☰</div>
        <div class="site-title">RROW 2024</div>
        <nav>
            {% for nav_target in site.navigation %}
                {% if nav_target.title == page.title %}
                    <a href="{{ site.baseurl }}/{{ nav_target.url }}" class="selected">{{ nav_target.title }}</a>
                {% else %}
                    <a href="{{ site.baseurl }}/{{ nav_target.url }}">{{ nav_target.title }}</a>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="close-button" onclick="toggleSidebar()">×</div>
        {% for nav_target in site.navigation %}
            {% if nav_target.title == page.title %}
                <a href="{{ site.baseurl }}/{{ nav_target.url }}" class="selected">{{ nav_target.title }}</a>
            {% else %}
                <a href="{{ site.baseurl }}/{{ nav_target.url }}">{{ nav_target.title }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <div id="header_wrap" class="outer">
        <header class="inner">
            <h1 id="project_title">
            {% assign title = page.banner-title | default: page.title %}
            {% if page.url == "/" %}
                {% assign words = page.banner-title | split: ' ' %}
                {% for word in words %}
                    {% if forloop.index == 3 or forloop.index == 4 or forloop.index == 7 or forloop.index == 8 %}
                        <span style="color: var(--accent-color);">{{ word | slice: 0, 1 }}</span>{{ word | slice: 1, word.size }}
                    {% else %}
                        {{ word }}
                    {% endif %}
                    {% unless forloop.last %} {% endunless %}
                {% endfor %}
            {% else %}
                {{ title }}
            {% endif %}
            </h1>
            {% if page.banner-subtitle %}
                <h2 id="project_tagline">{{ page.banner-subtitle }}</p>
            {% endif %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="https://pages.github.com">GitHub Pages.</a></p>
        <p>In case of questions or unclear points, please contact <a href="mailto:rrow2024@gmail.com">rrow2024@gmail.com</a>.</p>
        <p><a href="{{ site.baseurl }}/impressum">Impressum</a> / <a href="{{ site.baseurl }}/legal-notice">Legal Notice</a></p>
      </footer>
    </div>
    
    <!-- SCRIPTS -->
    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            if (sidebar.classList.contains("open")) {
                sidebar.classList.remove("open");
            } else {
                sidebar.classList.add("open");
            }
        }
    </script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</body>
</html>
